@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.center-me {
    width: 80%;
    height: 100%;
    margin: auto;
}

header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ecf7f9;
    border-radius: 5px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 15px;
}

.mainDiv {
    font-family: "Bebas Neue", sans-serif;
    max-width: 50%;
}

.heading {
    color: #087ea4;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
}

.subDiv {
    font-family: "Montserrat", sans-serif;
    max-width: 50%;
    margin-top: 15px;
}

.navItem {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

.navItem li a {
    color: #183153;
    margin: 15px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #183153;
}

.navItem li a:hover {
    color: #087ea4;
    padding: 5px;
    border: 1px solid #183153;
    outline: none;
    transition: 0.1s ease-in;
}

.myWork {
    color: #087ea4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.project-section p {
    color: #183153;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.project-section h3 {
    font-family: sans-serif;
    color: #183153;
}

.target {
    font-family: sans-serif;
    color: #183153;
}

.projects .main {
    font-family: sans-serif;
    background-color: #ecf7f9;
    margin-top: 20px;
    max-width: 50%;
    min-height: 200px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #183153;
}

.projects .main:hover {
    scale: 1.02;
    transition: 0.1s ease;
    cursor: grab;
}

.sub {
    color: #183153;
    padding: 15px;
}

.sub p {
    margin-top: 2px;
    font-weight: 600;
}

.card-detail {
    margin-top: 2px;
}

.card-maker {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.card-maker span {
    font-family: sans-serif;
    outline: none;
    border: 1px solid #183153;
    background-color: gainsboro;
    padding: 7px;
    border-radius: 5px;
}

.card-view {
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}

.card-view div {
    font-family: sans-serif;
    outline: none;
    border: none;
    background-color: #087ea4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card-view div:hover {
    background: #183153;
    transition: 0.1s ease-in;
    cursor: pointer;
}

#smooth-scroll {
    /* background-color: #ecf7f9; */
    color: #183153;
    margin-top: 30px;
    padding: 40px;
}

#smooth-scroll div {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

#smooth-scroll .anchor {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #183153;
}

#smooth-scroll .anchor:hover {
    color: #087ea4;
    text-decoration: 2px solid #087ea4 underline;
}

#smooth-scroll div a {
    text-decoration: none;
    color: #183153;
}

#smooth-scroll h2 {
    text-align: center;
    margin-top: 30px;
    font-family: sans-serif;
    text-decoration: 2px solid #183153 underline;
}

#smooth-scroll div a:hover {
    color: #087ea4;
}