@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#hello-top {
  width: 80%;
  height: 100%;
  margin: auto;
}

header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #ecf7f9;
  border-radius: 5px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 15px;
}

.mainDiv {
  font-family: 'Bebas Neue', sans-serif;
  max-width: 50%;
}

.heading {
  color: #087EA4;
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
}

.subDiv {
  font-family: "Montserrat", sans-serif;
  max-width: 50%;
  margin-top: 15px;
}

.navItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}

.navItem li a {
  color: #183153;
  margin: 15px;
  text-decoration: none;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #183153;
}

.navItem li a:hover {
  color: #087EA4;
  padding: 5px;
  border: 1px solid #183153;
  outline: none;
  transition: 0.1s ease-in;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.userImage img {
  height: 50vh;
  width: 30vw;
  outline: none;
  border: 1px solid #183153;
  border-radius: 43px;
  cursor: no-drop;
}

.section {
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}

.intro {
  color: slategrey;
  font-size: 30px;
  font-weight: 400;
}

.specs {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  color: #087EA4;
}

.work-proof {
  text-align: center;
  margin-top: 25px;
}

.work-proof button {
  text-align: center;
  padding: 13px;
  font-size: 19px;
  font-family: sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #A4001E;
  cursor: pointer;
}

.work-proof button a {
  text-decoration: none;
  color: white;
  cursor: pointer;

}

.work-proof button:hover {
  background-color: #f7265a;
  padding: 15px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.majduri {
  font-family: sans-serif;
  color: #087EA4;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.projects .main {
  background-color: #ecf7f9;
  max-width: 300px;
  min-height: 300px;
  font-family: sans-serif;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

.projects .main:hover {
  border: 2px solid #087EA4;
  transition: 0.1s ease-in;
  cursor: grab;
}

.sub {
  color: #183153;
  margin-left: 19px;
  margin-top: 19px;
}

.card-detail {
  margin-top: 10px;
}

.card-maker {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  flex-wrap: wrap;
}

.card-maker span {
  font-family: sans-serif;
  outline: none;
  border: none;
  background-color: gainsboro;
  padding: 7px;
  border-radius: 5px;
}

.card-view {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.card-view div {
  font-family: sans-serif;
  outline: none;
  border: none;
  background-color: #087EA4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card-view div:hover {
  background: #183153;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.blog-heading {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 5px;
}

.blog-heading p {
  font-family: sans-serif;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.btn button {
  padding: 13px;
  background-color: #087EA4;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  font-family: sans-serif;
  cursor: pointer;
}

.btn button a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

.btn button:hover {
  background-color: #183153;
  padding: 15px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.mySkills {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.mySkills img {
  width: 100px;
  height: 100px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #183153;
}

.mySkills img:hover {
  border: 1px solid #183153;
  transition: 0.1s ease-in;
  scale: 1.1;
  cursor: no-drop;
}

#myFooter {
  margin-top: 40px;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
}

.foot-heading {
  color: #183153;
}

.footerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImg img {
  height: 35vh;
  width: 30vw;
  margin-top: 30px;
  outline: none;
  border: 1px solid #183153;
  border-radius: 43px;
  cursor: no-drop;
}

.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-links a i {
  color: #183153;
  font-size: 30px;
}

.social-link-names {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link-names a {
  color: #183153;
  text-decoration: none;
}

.social-link-names a:hover {
  text-decoration: 2px solid #183153 underline;
  transition: 1ms ease-in;
  cursor: pointer;
}

#smooth-scroll {
  background-color: #ecf7f9;
  color: #183153;
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #183153;
  border-radius: 5px;
}

#smooth-scroll div {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

#smooth-scroll .anchor {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #183153;
}

#smooth-scroll .anchor:hover {
  color: #087EA4;
  text-decoration: 2px solid #087EA4 underline;
}

#smooth-scroll div a {
  text-decoration: none;
  color: #183153;
}

#smooth-scroll h2 {
  text-align: center;
  margin-top: 60px;
  font-family: sans-serif;
  text-decoration: 2px solid #183153 underline;
}

#smooth-scroll div a:hover {
  color: #087EA4;
}